 #body {
    background-color: darkcyan;
    text-align: center;
    font-display: 600px;
    padding: 10px;
}
tbody{
    padding-left: 100px;
}

.div2{
    padding-block: 10px;
}
div.tr{
    text-align: center;
}